@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    max-height: 100%;

    background-color: #fafafa;
    color: #616161;
}

.main {
    height: 90vh;

    display: flex;
    align-items: center;
}

.main h1 {
    font-family: 'Work Sans';
    font-style: normal;

    font-size: calc(1.5rem + 1vw);
    line-height: 1.4;
    font-weight: 400;

    margin: 0 8% 0 8%;
}

.main h1 span {
    color: rgb(3, 42, 233);
}

.intro {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;

    background-color: #e7e5ea;
    height: auto;
}

.intro .description {
    padding: 4rem 8%;
}

.intro .description h2 {
    font-family: 'Work Sans';
    font-style: normal;

    font-size: calc(.9rem + 1vw);
    line-height: 1.3;
    font-weight: 400;

}

.intro .description > div {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
}

.intro .description > div a {
    text-decoration: none;

    color: rgb(3, 42, 233);

    font-family: 'Work Sans';
    font-style: normal;
    font-size: calc(.9rem + 1vw);

}

/* .intro img {
    height: calc(50rem + 1vh); 
} 
*/

.techs {
    padding: 8%;
    box-sizing: border-box;

}

.techs h1 {
    font-family: 'Work Sans';
    font-style: normal;

    font-size: calc(1.5rem + 1vw);

    line-height: 1.3;
    font-weight: 400;

}

.techs ul {
    padding: 0;
    list-style-type: none;
}

.techs ul li {
    font-family: 'Work Sans';
    font-style: normal;

    padding-top: .5em;
    font-size: calc(.9rem + 1vw);

}

.projects {
    height: 100vh;
    background-color: #e7e5ea;

    box-sizing: border-box;

    padding: 20% 8%;
}

.projects .item {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.projects .item > img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 500px;

    background: #a1a1a1;
    border-radius: 7px;
}


.projects .item div h1 {

    font-family: 'Work Sans';
    font-weight: 400;

    font-size: calc(.9rem + 1vw);
}

.projects .item div a {
    display: flex;


    font-family: 'Work Sans';
    font-size: calc(.9rem + 1vw);
    text-decoration: none;

    color: rgb(3, 42, 233);
}

.projects .item div a img {
    margin-top: 4px;
    width: calc(.9rem + 1vw);
}


@media (min-width: 860px) {

    .main h1 {
        font-size: calc(2.2rem + 1vw);
    }

    .intro {
        flex-direction: row;
    }

    .intro img {
        width: 50%;
        height: fit-content;
    }

    .intro .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8% 5% 8% 8%;
    }


    .intro .description h2,
    .intro .description div a {
        font-size: calc(.7rem + 1vw);
        margin: 0;
    }

    .projects {
        height: 100vh;
        background-color: #e7e5ea;
    
        box-sizing: border-box;
    
        padding: 8%;
    }

    .projects .item {
        display: flex;
        flex-direction: row;
    }

    .projects .item > img {
        width: 40%;
        height: 100%;
        max-width: 400px;
        max-height: 600px;
    
        background: #a1a1a1;
        border-radius: 7px;
    }
    
    .projects .item div {
        margin-left: 8%;
    }
}
