@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    max-height: 100%;

    background-color: #fafafa;
    color: #616161;
}

.main {
    height: 80vh;

    display: flex;
    align-items: center;
}

.main h1 {
    font-family: 'Work Sans';
    font-style: normal;

    font-size: calc(1.5rem + 1vw);
    line-height: 1.4;
    font-weight: 400;

    margin: 0 10% 0 10%;
}

.main h1 span {
    color: rgb(3, 42, 233);
}

.intro {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;

    background-color: #e7e5ea;
    height: auto;
}

.intro .description {
    padding: 4rem 10%;
}

.intro .description h2 {
    font-family: 'Work Sans';
    font-style: normal;

    font-size: calc(.9rem + 1vw);
    line-height: 1.3;
    font-weight: 400;

}

.intro .description > div {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.intro .description > div a {
    text-decoration: none;

    color: rgb(3, 42, 233);

    font-family: 'Work Sans';
    font-style: normal;
    font-size: calc(.9rem + 1vw);

}

/* .intro img {
    height: calc(50rem + 1vh); 
} 
*/

.techs {
    height: 100vh;
    padding: 4rem 10%;
    box-sizing: border-box;

}

.techs h1 {
    font-family: 'Work Sans';
    font-style: normal;

    font-size: calc(1.5rem + 1vw);

    line-height: 1.3;
    font-weight: 400;

}

.techs ul {
    padding: 0;
    list-style-type: none;
}

.techs ul li {
    font-family: 'Work Sans';
    font-style: normal;

    padding-top: .5em;
    font-size: calc(.9rem + 1vw);

}

@media (min-width: 700px) {
    .intro {
        flex-direction: row;
    }

    .intro img {
        width: 50%;
        height: fit-content;
    }

    .intro .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 4rem 5% 10% 10%;
    }

    .intro .description h2 {
        max
    }

    .intro .description h2,
    .intro .description > div a {
        font-size: calc(.8rem + 1vw);
    }
}