@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    max-height: 100%;

    background-color: #fafafa;
    color: #616161;
}

.main {
    height: 80vh;

    display: flex;
    align-items: center;
}

.main h1 {
    font-family: 'Work Sans';
    font-style: normal;

    width: 50%;
    font-size: calc(2rem + 1vw);
    line-height: 1.4;
    font-weight: 400;

    margin-left: 10%;
}

.main h1 span {
    color: rgb(3, 42, 233);
}

.intro {
    display: flex;
    justify-content: space-between;

    background-color: #e7e5ea;
    height: auto;
}

.intro .description {
    padding: 5% 10%;
}

.intro .description h2 {
    font-family: 'Work Sans';
    font-style: normal;

    width: 70%;
    font-size: calc(.9rem + 1vw);
    line-height: 1.3;
    font-weight: 400;

}

.intro img {
    height: calc(50rem + 1vh);
}

.techs {
    height: 100vh;
    padding: 5% 10%;
    box-sizing: border-box;

}

.techs h1 {
    font-family: 'Work Sans';
    font-style: normal;

    width: 50%;
    font-size: calc(2rem + 1vw);
    line-height: 1.3;
    font-weight: 400;

}

.techs ul {
    padding: 0;
    list-style-type: none;
    line-height:2.4em
}

.techs ul li {
    font-family: 'Work Sans';
    font-style: normal;

    font-size: calc(.5rem + 1vw);

}